<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpUser" value="info@davebrownphotography.com"/>
    <add key="SmtpPassword" value="frog6969"/>
    <add key="BlogDown" value="false"/>
    <add key="BuildAffiliateStuff" value="false"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </system.Web>

    The following values can be added to <appSettings>.
      <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      </appSettings>
    -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>-->
    <rewrite>
      <rules>
        <rule name="Rewrite to blog2" stopProcessing="true">
          <match url="^BlogInstall/(.+)$" />
          <action type="Redirect" url="http://blog.davebrownphotography.com/{R:1}" redirectType="Permanent"/>
        </rule>
        <rule name="Rewrite to blog" stopProcessing="true">
          <match url="^BlogInstall/ $" />
          <action type="Redirect" url="http://blog.davebrownphotography.com/" redirectType="Permanent"/>
        </rule>
        <rule name="Rewrite to blog3" stopProcessing="true">
          <match url="^(.*)BlogInstall(.*)$" />
          <action type="Redirect" url="http://blog.davebrownphotography.com/{R:2}" redirectType="Permanent"/>
        </rule>

        <rule name="1" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Denver-Fashion-Photographer)(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=fashion" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="1.1" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Fashion-Photographer-Denver)(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Fashion2" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="2" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^About-Denver-Photographer(.+)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Home/About" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="3" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^Contact(.+)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Home/Contact" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="4" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^([a-z-]+)Band-Music([a-z-]+)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Band" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="5" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^([a-z-]+)(Commercial)([a-z-]+)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder={R:2}" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="7" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Engagement)(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder={R:2}" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="8" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Food)(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder={R:2}" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="9" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(FAQ)(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Home/FAQ" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="10" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Senior-Portrait)(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Senior-Portrait" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="12" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Portrait)(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Portraits" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="11" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Wedding)(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder={R:2}" appendQueryString="false" redirectType="Found" />
        </rule>
        
        <!--http://www.davebrownphotography.com/Denver-Editorial-Photographer.aspx?Editorial-Name=Firestarter-For-IMute-Magazine-->
        <!--http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Editorial%2FFirestarter-->
        <!--These are for all my editorials  Keep in mind Query strings get dropped on the url matching part, that's why there's the query string part.-->
        <rule name="E1" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Editorial)(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add  input="{QUERY_STRING}" pattern="^Editorial-Name=(.*)(Firestarter)(.*)$" />
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Editorial%2FFirestarter" appendQueryString="false" redirectType="Found" />
        </rule>

        <rule name="E2" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Editorial)(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add  input="{QUERY_STRING}" pattern="^Editorial-Name=(.*)(Star)(.*)$" />
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Editorial%2FStarCollector" appendQueryString="false" redirectType="Found" />
        </rule>

        <rule name="E3" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Editorial)(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add  input="{QUERY_STRING}" pattern="^Editorial-Name=(.*)(Wanderlust)(.*)$" />
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Editorial%2FWanderlust" appendQueryString="false" redirectType="Found" />
        </rule>
        
        <rule name="E4" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Editorial)(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add  input="{QUERY_STRING}" pattern="^Editorial-Name=(.*)(Light)(.*)$" />
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Editorial%2FLightDance" appendQueryString="false" redirectType="Found" />
        </rule>

        <rule name="E5" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Editorial)(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add  input="{QUERY_STRING}" pattern="^Editorial-Name=(.*)(Lindsey)(.*)$" />
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Editorial%2FLindseyVonn" appendQueryString="false" redirectType="Found" />
        </rule>

        <rule name="E7" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Editorial)(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add  input="{QUERY_STRING}" pattern="^Editorial-Name=(.*)(Milan)(.*)$" />
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Editorial%2FMilanOnMyLips" appendQueryString="false" redirectType="Found" />
        </rule>

        <rule name="E6" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Editorial)(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add  input="{QUERY_STRING}" pattern="^Editorial-Name=(.*)(While)(.*)$" />
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Editorial%2FCanIStayAWhile" appendQueryString="false" redirectType="Found" />
        </rule>

        <rule name="E8" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)(Editorial)(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add  input="{QUERY_STRING}" pattern="^Editorial-Name=(.*)(Pale)(.*)$" />
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com/Portfolio/DenverFashionPhotographer?folder=Editorial%2FPaleFire" appendQueryString="false" redirectType="Found" />
        </rule>
        
        <rule name="MobileRedirect" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^(.*)davebrownphotography\.com$" />
            <add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|ipad|opera mobile|palmos|webos" />
          </conditions>
          <action type="Redirect" url="http://m.davebrownphotography.com" appendQueryString="false" redirectType="Found" />
        </rule>
        
        <rule name="Canonical Host Name" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^davebrownphotography\.com$" />
          </conditions>
          <action type="Redirect" url="http://www.davebrownphotography.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>